body{
    margin: 0;
    padding: 0;
}
.shapes{
    background-color: 	#4b01d1;
    height: 100%;
}
.shapess{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    color: #d7b7fd;
}
.shapess > i{
    margin: 5px;
}
.menu{
    display: flex;
    justify-content: space-between;
    background: #6202ee;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.contacts{
    display: flex;
    gap: 2rem;
}
.search{
    display: flex;
    gap: 2rem;
}
.contacts, .search{
    margin: 10px;
    padding: 10px 0;
    align-items: center;
}
.white > input,select{
    height: 3rem;
    border-radius: 5px;
    padding: 0 .4rem;
}
.grey > input{
    background-color: rgb(232, 232, 232);
    color: rgb(93, 93, 93);
    height: 3rem;
    border-radius: 5px;
    padding-left: .4rem;
    border-width: 0 0 1px 0;
}
#state{
    background-color: rgb(232, 232, 232);
    color: rgb(93, 93, 93);
    height: 3rem;
    border-radius: 5px;
}
#this-form{
    display: flex;
    margin-top: 1.5rem;
}
label{
    width: 10%;
    display: inline-block;
    margin: 0 16px;
}
.grey,.white{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.grey > i{
    width: 12rem;
}
input{
    width: 17rem;
    height: 3rem;
}
#phone, #label, #state, #zip{
    width: 7.5rem;
    position: relative;
    left: 0%;
}
#label, #zip{
    margin-left: -3rem;
}